body{
    background-color:darkkhaki;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 105px;
    text-decoration: underline;
    text-transform: lowercase;
}
#data{
    text-transform: capitalize;
    transform: rotate(5deg);
}
#b{
    text-transform: uppercase;
}